In [6]:
import pandas as pd
import re

###

In [7]:
df = pd.read_csv('dataset/data.csv', encoding='ISO-8859-1')

In [8]:
df['Tweet'].loc[2152]

'2018, IMF Pertahankan Perkiraan Pertumbuhan Ekonomi GlobalÂ 3,9%'

In [9]:
# Selanjutnya berbagai jenis cleansing yang digunakan sebagai berikut
def cleansing(sent):
    # Mengubah kata menjadi huruf kecil semua dengan menggunakan fungsi lower()
    # Menghapus tanda baca menggunakan "RegEx" dengan script di bawah
    # string = re.sub(r'[^a-zA-Z0-9]', '', string)
    # string = re.sub(r'[^a-zA-Z\s]', '', string)
    # string = re.sub(r'[^a-zA-Z0-9\s]', '', string)
    # Pattern untuk mencari emoticon dalam sebuah teks
    emoticon_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticon standar Unicode
        u"\U0001F300-\U0001F5FF"  # simbol dan piktogram
        u"\U0001F680-\U0001F6FF"  # emoticon transportasi dan simbol industri
        u"\U0001F1E0-\U0001F1FF"  # flag negara
        u"\U00002500-\U00002BEF"  # karakter CJK
        u"\U00002702-\U000027B0"  # simbol dingbat
        u"\U00002702-\U000027B0"  # simbol dingbat
        u"\U000024C2-\U0001F251" 
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642"
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"                
        u"\u3030"
                      "]+", flags=re.UNICODE)
    string = str(sent).lower()
    string = emoticon_pattern.sub(r'', string)
    return string

In [10]:
df['Tweet'] = df['Tweet'].apply(lambda x: cleansing(x))

In [11]:
df['Tweet'].loc[2152]

'2018, imf pertahankan perkiraan pertumbuhan ekonomi globalâ 3,9%'

In [12]:
abusive = pd.read_csv('dataset/abusive.csv', encoding='ISO-8859-1')

In [13]:
filterAbusive = abusive["ABUSIVE"].tolist()

In [14]:
def cleansingAbusive(teks):
    teks_split = teks.split()
    kata_bersih = [kata for kata in teks_split if kata not in filterAbusive]
    teks_bersih = " ".join(kata_bersih)
    return teks_bersih

In [15]:
df['Tweet'] = df['Tweet'].apply(lambda x: cleansingAbusive(x))

In [16]:
df['Tweet'].loc[2149]

'ini yangmembuat #2019t3tapjokowi'

In [17]:
alay = pd.read_csv('dataset/new_kamusalay.csv', encoding='ISO-8859-1', header=None)

In [18]:
header = ['alay_word', 'replacement_word']
alay.columns = header
# alay = pd.DataFrame(alay, columns=header)

In [19]:
alay

                 alay_word                   replacement_word
0      anakjakartaasikasik           anak jakarta asyik asyik
1             pakcikdahtua                  pak cik sudah tua
2           pakcikmudalagi                  pak cik muda lagi
3              t3tapjokowi                       tetap jokowi
4                       3x                          tiga kali
...                    ...                                ...
15162            mendikbud  menteri pendidikan dan kebudayaan
15163               mendag                menteri perdagangan
15164              menaker               menteri tenaga kerja
15165             memetwit                            mentwit
15166             megangin                           memegang

[15167 rows x 2 columns]

In [20]:
def replace_words(text, mapping):
    text_split = text.split()
    for index, row in mapping.iterrows():
        for i in range(len(text_split)):
            if text_split[i] == row['alay_word']:
                text_split[i] = row['replacement_word']
    return ' '.join(text_split)

# def cleansingAbusive(teks):
#     teks_split = teks.split()
#     kata_bersih = [kata for kata in teks_split if kata not in filterAbusive]
#     teks_bersih = " ".join(kata_bersih)
#     return teks_bersih

In [21]:
df['Tweet'].loc[2149:2150]

2149                     ini yangmembuat #2019t3tapjokowi
2150    user memang selama jokowi jadi presiden banyak...
Name: Tweet, dtype: object

In [22]:
df['Tweet'] = df['Tweet'].loc[2149:2150].apply(lambda x: replace_words(x, alay))

In [23]:
df['Tweet'].loc[2149:2150]

2149                    ini yang membuat #2019t3tapjokowi
2150    pengguna memang selama jokowi jadi presiden ba...
Name: Tweet, dtype: object

In [24]:
nama = input("kalimat nama Anda: ")
nama = pd.DataFrame({nama})
nama.columns = ['Tweet']

In [25]:
nama['Tweet'] = nama['Tweet'].apply(lambda x: cleansing(x))
nama['Tweet'] = nama['Tweet'].apply(lambda x: cleansingAbusive(x))
nama['Tweet'] = nama['Tweet'].apply(lambda x: replace_words(x, alay))

In [26]:
print(nama)

  Tweet
0   asd