In [42]:
import pandas as pd
import re
from terbilang import Terbilang

t = Terbilang()

###

In [43]:
df = pd.read_csv('dataset/data.csv', encoding='ISO-8859-1')
df.iloc[:, 0]

0        - disaat semua cowok berusaha melacak perhatia...
1        RT USER: USER siapa yang telat ngasih tau elu?...
2        41. Kadang aku berfikir, kenapa aku tetap perc...
3        USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...
4        USER USER Kaum cebong kapir udah keliatan dong...
                               ...
13164    USER jangan asal ngomong ndasmu. congor lu yg ...
13165                         USER Kasur mana enak kunyuk'
13166    USER Hati hati bisu :( .g\n\nlagi bosan huft \...
13167    USER USER USER USER Bom yang real mudah terdet...
13168    USER Mana situ ngasih(": itu cuma foto ya kuti...
Name: Tweet, Length: 13169, dtype: object

In [44]:
# Selanjutnya berbagai jenis cleansing yang digunakan sebagai berikut
def cleansing(sent):
    # Mengganti simbol %
    string = sent.replace('%', ' persen')

    # Mengganti simbol #
    string = re.sub(r'[#]+', 'hashtag ', string)

    # Menghapus karakter unicode
    string = re.sub(r'[^\x00-\x7F]+', '', string)
    
    # Menghilangkan enter dan tab
    string = re.sub(r'[\n\t]+', ' ', string)

    # Menghilangkan simbol, dan tanda baca
    string = re.sub(r'[^\w\d\s]+', '', string)

    # Mendeteksi dan mengganti angka menjadi kalimat bilangannya
    teks_split = string.split()
    kata_bersih = []
    for kata in teks_split:
        if kata.isdigit():
            t.parse(kata)
            kata_bersih.append(t.getresult())
            continue
        kata_bersih.append(kata)
    teks_bersih = " ".join(kata_bersih)

    # Menjadikan huruf kecil
    teks_bersih = str(teks_bersih).lower()
    return teks_bersih

In [45]:
df = df.iloc[:, 0].apply(lambda x: cleansing(x))

In [46]:
df

0        disaat semua cowok berusaha melacak perhatian ...
1        rt user user siapa yang telat ngasih tau elued...
2        empat puluh satu kadang aku berfikir kenapa ak...
3        user user aku itu akunnku tau matamu sipit tap...
4        user user kaum cebong kapir udah keliatan dong...
                               ...
13164    user jangan asal ngomong ndasmu congor lu yg s...
13165                          user kasur mana enak kunyuk
13166    user hati hati bisu gnnlagi bosan huft xf0x9fx...
13167    user user user user bom yang real mudah terdet...
13168    user mana situ ngasih itu cuma foto ya kutil onta
Name: Tweet, Length: 13169, dtype: object

In [47]:
abusive = pd.read_csv('dataset/abusive.csv', encoding='ISO-8859-1')

In [48]:
filterAbusive = abusive["ABUSIVE"].tolist()
filterAbusive

['alay',
 'ampas',
 'buta',
 'keparat',
 'anjing',
 'anjir',
 'babi',
 'bacot',
 'bajingan',
 'banci',
 'bandot',
 'buaya',
 'bangkai',
 'bangsat',
 'bego',
 'bejat',
 'bencong',
 'berak',
 'bisu',
 'celeng',
 'jancuk',
 'bodoh',
 'berengsek',
 'budek',
 'burik',
 'jamban',
 'cocot',
 'congor',
 'culun',
 'cupu',
 'dongok',
 'dungu',
 'edan',
 'tai',
 'ngewe',
 'geblek',
 'gembel',
 'gila',
 'goblok',
 'iblis',
 'idiot',
 'jablay',
 'jembud',
 'jembut',
 'jijik',
 'kacrut',
 'kafir',
 'modar',
 'kampang',
 'kampret',
 'kampungan',
 'kimak',
 'kontol',
 'kunti',
 'tuyul',
 'kunyuk',
 'mampus',
 'memek',
 'monyet',
 'najis',
 'nete',
 'ngentot',
 'noob',
 'pecun',
 'perek',
 'sampah',
 'sarap',
 'setan',
 'silit',
 'bokong',
 'sinting',
 'sompret',
 'sontoloyo',
 'terkutuk',
 'titit',
 'pantat',
 'tolol',
 'udik',
 'antek',
 'asing',
 'ateis',
 'sitip',
 'autis',
 'picek',
 'ayam kampus',
 'bani kotak',
 'bispak',
 'bisyar',
 'bokep',
 'bong',
 'cacat',
 'cct',
 'cebong',
 'taplak',
 'cungkring',
 'gay',
 'gembrot',
 'gendut',
 'hina',
 'homo',
 'komunis',
 'koreng',
 'krempeng',
 'lengser',
 'lesbi',
 'lgbt',
 'lonte',
 'mucikari',
 'munafik',
 'ngaceng',
 'nista',
 'kejam',
 'onta',
 'panastak',
 'panasbung',
 'bani',
 'pasukan nasi',
 'porno',
 'seks',
 'rejim',
 'rezim',
 'sange',
 'serbet',
 'sipit',
 'transgender']

In [49]:
def cleansingAbusive(teks):
    teks_split = teks.split()
    kata_bersih = [kata for kata in teks_split if kata not in filterAbusive]
    teks_bersih = " ".join(kata_bersih)
    return teks_bersih

In [50]:
df = df.apply(lambda x: cleansingAbusive(x))

In [51]:
df.loc[13148]

'user biarkan buk biarkannkrn sesungguhnya singapur itu letaknya di cina xf0x9fxa4xa3nmakanya pemerintah harus ikut campur urusan rumah xf0x9fxa4x94'

In [52]:
alay = pd.read_csv('dataset/new_kamusalay.csv', encoding='ISO-8859-1', header=None)

In [53]:
header = ['alay_word', 'replacement_word']
alay.columns = header
# alay = pd.DataFrame(alay, columns=header)

In [54]:
alay

                 alay_word                   replacement_word
0      anakjakartaasikasik           anak jakarta asyik asyik
1             pakcikdahtua                  pak cik sudah tua
2           pakcikmudalagi                  pak cik muda lagi
3              t3tapjokowi                       tetap jokowi
4                       3x                          tiga kali
...                    ...                                ...
15162            mendikbud  menteri pendidikan dan kebudayaan
15163               mendag                menteri perdagangan
15164              menaker               menteri tenaga kerja
15165             memetwit                            mentwit
15166             megangin                           memegang

[15167 rows x 2 columns]

In [55]:
def replace_words(text, mapping):
    text_split = text.split()
    for index, row in mapping.iterrows():
        for i in range(len(text_split)):
            if text_split[i] == row['alay_word']:
                text_split[i] = row['replacement_word']
    return ' '.join(text_split)

# def cleansingAbusive(teks):
#     teks_split = teks.split()
#     kata_bersih = [kata for kata in teks_split if kata not in filterAbusive]
#     teks_bersih = " ".join(kata_bersih)
#     return teks_bersih

In [56]:
df.loc[2149:2150]

2149              ini yangmembuat hashtag 2019t3tapjokowi
2150    user memang selama jokowi jadi presiden banyak...
Name: Tweet, dtype: object

In [57]:
df = df.loc[2149:2150].apply(lambda x: replace_words(x, alay))

In [58]:
df.loc[2149:2150]

2149             ini yang membuat tagar 2019 tetap jokowi
2150    pengguna memang selama jokowi jadi presiden ba...
Name: Tweet, dtype: object

In [59]:
# nama = input("kalimat nama Anda: ")
# nama = pd.DataFrame({nama})
# nama.columns = ['Tweet']

In [60]:
# nama['Tweet'] = nama['Tweet'].apply(lambda x: cleansing(x))
# nama['Tweet'] = nama['Tweet'].apply(lambda x: cleansingAbusive(x))
# nama['Tweet'] = nama['Tweet'].apply(lambda x: replace_words(x, alay))

In [61]:
# print(nama)