In [1]:
import pandas as pd
import re

###

In [20]:
df = pd.read_csv('dataset/data.csv', encoding='ISO-8859-1')
# df['Tweet'].loc[13148]
df.iloc[:, 0]

0        - disaat semua cowok berusaha melacak perhatia...
1        RT USER: USER siapa yang telat ngasih tau elu?...
2        41. Kadang aku berfikir, kenapa aku tetap perc...
3        USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...
4        USER USER Kaum cebong kapir udah keliatan dong...
                               ...
13164    USER jangan asal ngomong ndasmu. congor lu yg ...
13165                         USER Kasur mana enak kunyuk'
13166    USER Hati hati bisu :( .g\n\nlagi bosan huft \...
13167    USER USER USER USER Bom yang real mudah terdet...
13168    USER Mana situ ngasih(": itu cuma foto ya kuti...
Name: Tweet, Length: 13169, dtype: object

In [6]:
# Selanjutnya berbagai jenis cleansing yang digunakan sebagai berikut
def cleansing(sent):
    # lowercase
    string = str(sent).lower()
    # Mengganti simbol %
    string = string.replace('%', ' persen')
    # Mengganti simbol #
    string = string.replace('##', '')
    string = string.replace('#', ' persen')

    # Menghilangkan tanda baca
    string = re.sub(r'[^a-zA-Z\s]', '', string)
    
    return string

In [7]:
df['Tweet'] = df['Tweet'].apply(lambda x: cleansing(x))

In [9]:
df['Tweet'].loc[13148]

"user biarkan buk biarkan.\\nkrn sesungguhnya singapur itu letaknya di cina. \\xf0\\x9f\\xa4\\xa3\\nmakanya pemerintah harus ikut campur urusan rumah. \\xf0\\x9f\\xa4\\x94'"

In [10]:
abusive = pd.read_csv('dataset/abusive.csv', encoding='ISO-8859-1')

In [11]:
filterAbusive = abusive["ABUSIVE"].tolist()

In [12]:
def cleansingAbusive(teks):
    teks_split = teks.split()
    kata_bersih = [kata for kata in teks_split if kata not in filterAbusive]
    teks_bersih = " ".join(kata_bersih)
    return teks_bersih

In [13]:
df['Tweet'] = df['Tweet'].apply(lambda x: cleansingAbusive(x))

In [14]:
df['Tweet'].loc[13148]

"user biarkan buk biarkan.\\nkrn sesungguhnya singapur itu letaknya di cina. \\xf0\\x9f\\xa4\\xa3\\nmakanya pemerintah harus ikut campur urusan rumah. \\xf0\\x9f\\xa4\\x94'"

In [17]:
alay = pd.read_csv('dataset/new_kamusalay.csv', encoding='ISO-8859-1', header=None)

In [18]:
header = ['alay_word', 'replacement_word']
alay.columns = header
# alay = pd.DataFrame(alay, columns=header)

In [19]:
alay

                 alay_word                   replacement_word
0      anakjakartaasikasik           anak jakarta asyik asyik
1             pakcikdahtua                  pak cik sudah tua
2           pakcikmudalagi                  pak cik muda lagi
3              t3tapjokowi                       tetap jokowi
4                       3x                          tiga kali
...                    ...                                ...
15162            mendikbud  menteri pendidikan dan kebudayaan
15163               mendag                menteri perdagangan
15164              menaker               menteri tenaga kerja
15165             memetwit                            mentwit
15166             megangin                           memegang

[15167 rows x 2 columns]

In [20]:
def replace_words(text, mapping):
    text_split = text.split()
    for index, row in mapping.iterrows():
        for i in range(len(text_split)):
            if text_split[i] == row['alay_word']:
                text_split[i] = row['replacement_word']
    return ' '.join(text_split)

# def cleansingAbusive(teks):
#     teks_split = teks.split()
#     kata_bersih = [kata for kata in teks_split if kata not in filterAbusive]
#     teks_bersih = " ".join(kata_bersih)
#     return teks_bersih

In [21]:
df['Tweet'].loc[2149:2150]

2149                     ini yangmembuat #2019t3tapjokowi
2150    user memang selama jokowi jadi presiden banyak...
Name: Tweet, dtype: object

In [22]:
df['Tweet'] = df['Tweet'].loc[2149:2150].apply(lambda x: replace_words(x, alay))

In [23]:
df['Tweet'].loc[2149:2150]

2149                    ini yang membuat #2019t3tapjokowi
2150    pengguna memang selama jokowi jadi presiden ba...
Name: Tweet, dtype: object

In [24]:
nama = input("kalimat nama Anda: ")
nama = pd.DataFrame({nama})
nama.columns = ['Tweet']

In [25]:
nama['Tweet'] = nama['Tweet'].apply(lambda x: cleansing(x))
nama['Tweet'] = nama['Tweet'].apply(lambda x: cleansingAbusive(x))
nama['Tweet'] = nama['Tweet'].apply(lambda x: replace_words(x, alay))

In [26]:
print(nama)

  Tweet
0   asd